
@font-face {
  font-family: 'Bebas Neue Book';
  src: url('../fonts/bebasneue-book.woff2') format('woff2'),
       url('../fonts/bebasneue-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #618ecd;
}

.content {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author-name {
  margin-bottom: 6px;
  color: white;
  font-size: 170px;
  font-family: 'Bebas Neue Book';
  line-height: 90%;

  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.social-list {
  /* padding: 0 35px; */
  display: flex;
}

.social-list-item {
  margin-right: 15px;
}

.social-list-item:last-child {
  margin-right: 0;
}

.social-list-img {
  width: 40px;
}

.social-list-item {
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: scale 0.3s ease;
}

.social-list-item:hover {
  transform: scale(105%);
}

.social-list-item path{
  transition: fill 0.3s ease;
}

.social-list-item:hover path{
  /* fill: rgb(220, 190, 190); */
  fill: lightsteelblue;
}

.menu-list {
  display: flex;
  flex-direction: row;
}

.menu-list-item:last-child {
  margin-right: 0;
}

.menu-list-item {
  margin-right: 15px;
}

.menu-list-item:last-child {
  margin-right: 0;
}

/* .blog-list {
  color: white;
  min-width: 360px;
  max-width: 800px;
} */

.blog-list-item {
  border: 2px solid #e2d4f9c2;
  border-radius: 20px;
  margin-bottom: 15px;
  color: black;
  background-color: white;
}

.blog-post {
  padding: 15px;
  min-height: 150px;
  min-width: 330px;
  max-width: 800px;
  display: flex;
  flex-direction: row;
}

.post-date {
  margin-right: 15px;
  font-size: 13px;
}

.partition {
  width: 300px;
  align-items: center;
}

.section-sidebar {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .container-author {
  background-color: white;
} */

.navMenu {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.accordion {
  min-width: 429px;
}

@media (max-width: 685px) {
  .sidebar {
    max-width: 352px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-sidebar {
    margin: 0;
  }

  .social-list {
    margin-bottom: 15px;
  }

  .menu-list {
    padding-left: 0;
    display: flex;
    flex-direction: row;
  }

  .blog-post {
    display: flex;
    flex-direction: column;
  }

  .accordion {
    min-width: 365px;
  }
}


/* author.html */
.post-form {
  color: white;
  max-width: 800px;
  margin-bottom: 25px;
  padding: 25px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
}

.accordion-button:focus {
  border-color: transparent;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}