body {
  background-color: black;
}

.content {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 235px;
  border-bottom: 2px solid darkgray;
}

.social-list {
  padding: 0 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-list-img {
  width: 40px;
}

.menu-list {
  color: white;
  padding-top: 40px;
  padding-left: 45px;
  border-top: solid darkgray 2px;
}

.menu-list-button {
  margin-bottom: 5px;
}

.main-content {
  padding-top: 15px;
}

.blog-list {
  color: white;
}

.blog-list-item {
  margin-bottom: 15px;
  color: black;
  background-color: white;
}

.blog-post {
  padding: 15px;
  min-height: 150px;
  max-width: 5000px;
  display: flex;
  flex-direction: row;
}

.post-date {
  margin-right: 15px;
}

.section-sidebar {
  margin-right: 30px;
}

@media (max-width: 685px) {
  .sidebar {
    max-width: 352px;
  }

  .logo {
    border-bottom: none;
    /* border-right: 2px solid darkgray; */
    transform: rotate(90deg) translate(60px, -60px);
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-sidebar {
    margin: 0;
  }

  .social-list {
    margin-bottom: 15px;
  }

  .menu-list {
    padding-left: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}